---
http_interactions:
- request:
    method: get
    uri: https://checkbits.conexa.app/index.php/api/v2/customer/3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Bearer 015bce623f2cd6972d9e1d7eda86ff90f0cbc83081e373712d6a7b9445b6432b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{"additionalDetails":"KM 09","city":"Salvador","neighborhood":"CASSAGE","number":"S\/N","state":{"id":5,"name":"Bahia","abbreviation":"BA"},"street":"ESTRADA
        CIA AEROPORTO RODOVIA BA 526","zipCode":"41505220"},"automaticallyIssueNfse":"whenGeneratingBilling","cellNumber":"71986312011","companyId":3,"createdAt":"2024-09-19T19:59:16-03:00","customerId":3,"emailsFinancialMessages":["geraldogordilho@rotula.com.br"],"emailsMessage":null,"fieldOfActivity":null,"firstName":"ROTULA","hasIssRetention":false,"hasLoginAccess":false,"isActive":true,"isBlocked":false,"isForeign":false,"isJuridicalPerson":true,"legalPerson":{"cnpj":"33.871.336\/0002-60","foundationDate":null,"municipalInscription":null,"stateInscription":null},"login":null,"name":"ROTULA
        METALURGICA LTDA","notes":null,"notesNfse":null,"phones":null,"profession":null,"pronunciation":null,"taxDeductions":{"cofins":null,"csll":null,"inss":null,"ir":null,"iss":false,"pis":null},"tradeName":"ROTULA","website":null}'
  recorded_at: Fri, 18 Oct 2024 16:17:01 GMT
- request:
    method: get
    uri: https://checkbits.conexa.app/index.php/api/v2/customers
    body:
      encoding: UTF-8
      string: '{"page":1,"size":100}'
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Bearer 015bce623f2cd6972d9e1d7eda86ff90f0cbc83081e373712d6a7b9445b6432b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '98'
      X-Rate-Limit-Reset:
      - '58'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"address":{"additionalDetails":"KM 09","city":"Salvador","neighborhood":"CASSAGE","number":"S\/N","state":{"id":5,"name":"Bahia","abbreviation":"BA"},"street":"ESTRADA
        CIA AEROPORTO RODOVIA BA 526","zipCode":"41505220"},"automaticallyIssueNfse":"whenGeneratingBilling","cellNumber":"71986312011","companyId":3,"createdAt":"2024-09-19T19:59:16-03:00","customerId":3,"emailsFinancialMessages":["geraldogordilho@rotula.com.br"],"emailsMessage":null,"fieldOfActivity":null,"firstName":"ROTULA",[...]
- request:
    method: get
    uri: https://checkbits.conexa.app/index.php/api/v2/customers?page=1&size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Bearer 015bce623f2cd6972d9e1d7eda86ff90f0cbc83081e373712d6a7b9445b6432b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-[...]
