---
http_interactions:
- request:
    method: get
    uri: https://test.conexa.app/index.php/api/v2/customer/3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{"additionalDetails":"Exemplo 103","city":"Salvador","neighborhood":"Exemplo
        103","number":"S/N","state":{"id":5,"name":"Bahia","abbreviation":"BA"},"street":"Rua
        Exemplo 3","zipCode":"41000003"},"automaticallyIssueNfse":"whenGeneratingBilling","cellNumber":"71900000003","companyId":3,"createdAt":"2024-09-19T19:59:16-03:00","customerId":3,"emailsFinancialMessages":["cliente3+0@example.com"],"emailsMessage":null,"fieldOfActivity":null,"firstName":"LUMEN","hasIssRetention":false,"hasLoginAccess":false,"isActive":true,"isBlocked":false,"isForeign":false,"isJuridicalPerson":true,"legalPerson":{"cnpj":"13.103.103/0001-13","foundationDate":null,"municipalInscription":null,"stateInscription":null},"login":null,"name":"LUMEN
        S.A.","notes":null,"notesNfse":null,"phones":null,"profession":null,"pronunciation":null,"taxDeductions":{"cofins":null,"csll":null,"inss":null,"ir":null,"iss":false,"pis":null},"tradeName":"LUMEN","website":null}'
  recorded_at: Fri, 18 Oct 2024 16:17:01 GMT
- request:
    method: get
    uri: https://test.conexa.app/index.php/api/v2/customers
    body:
      encoding: UTF-8
      string: '{"page":1,"size":100}'
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '98'
      X-Rate-Limit-Reset:
      - '58'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"address":{"additionalDetails":"Exemplo 103","city":"Salvador","neighborhood":"Exemplo
        103","number":"S/N","state":{"id":5,"name":"Bahia","abbreviation":"BA"},"street":"Rua
        Exemplo 3","zipCode":"41000003"},"automaticallyIssueNfse":"whenGeneratingBilling","cellNumber":"71900000003","companyId":3,"createdAt":"2024-09-19T19:59:16-03:00","customerId":3,"emailsFinancialMessages":["cliente3+0@example.com"],"emailsMessage":null,"fieldOfActivity":null,"firstName":"LUMEN","hasIssRetenti[...]
- request:
    method: get
    uri: https://test.conexa.app/index.php/api/v2/customers?page=1&size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '60'
      Content-Type:
      - appli[...]
