---
http_interactions:
- request:
    method: post
    uri: https://test.conexa.app/index.php/api/v2/auth
    body:
      encoding: UTF-8
      string: '{"username":"admin","password":""}'
    headers:
      Content-Type:
      - application/json; charset=utf8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Field validation error","errors":[{"field":"password","messages":["password does not exist or is empty"]}]}'
  recorded_at: Mon, 16 Dec 2024 19:00:00 GMT
recorded_with: VCR 6.3.1
